<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->

    <link rel="stylesheet" href="/template/dash/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/template/dash/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="/template/dash/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/template/dash/css/style.blue.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/template/dash/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/template/dash/img/favicon.ico">

    <link rel="stylesheet" href="/template/dash//vendor/bootstrap/css/bootstrap.min.css">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Inscription</h1>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form class="form-validate">
                    <div class="form-group">
                      <input id="register-name" type="text" name="registerName" required data-msg="Votre nom" class="input-material">
                      <label for="register-name" class="label-material">Nom</label>
                    </div>
                    <div class="form-group">
                      <input id="register-firstname" type="text" name="registerFirstname" required data-msg="Votre prenom" class="input-material">
                      <label for="register-firstname" class="label-material">Prenom</label>
                    </div>
                    <div class="form-group">
                      <input id="register-email" type="email" name="registerEmail" required data-msg="Votre adresse email" class="input-material">
                      <label for="register-email" class="label-material">Email</label>
                    </div>
                    <div class="form-group">
                      <input id="register-password" type="password" name="registerPassword" required data-msg="Votre mot de passe" class="input-material">
                      <label for="register-password" class="label-material">Mot de passe</label>
                    </div>
                    <div class="form-group">
                      <input id="register-password" type="password" name="registerPassword" required data-msg="Confimez votre mot de passe" class="input-material">
                      <label for="register-cfpassword" class="label-material">Confirmation</label>
                    </div>
                    <div class="form-group terms-conditions">
                      <input id="register-agree" name="registerAgree" type="checkbox" required value="1" data-msg="Your agreement is required" class="checkbox-template">
                      <label for="register-agree">Accepter les termes et la politique</label>
                    </div>
                    <div class="form-group">
                      <button id="register" type="submit" name="registerSubmit" class="btn btn-primary">Valider</button>
                    </div>
                  </form><small>Avez-vous déja un compte? </small><a href="/login" class="signup">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </p>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/template/dash/vendor/jquery/jquery.min.js"></script>
    <script src="/template/dash/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/template/dash/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/dash/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/template/dash/vendor/chart.js/Chart.min.js"></script>
    <script src="/template/dash/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="/template/dash/js/front.js"></script>
  </body>
</html>

