<!DOCTYPE html>
<html lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sheldon COOPER - Physicien surdoué et Geek qualifié</title>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fichiers CSS -->
<link rel="stylesheet" href="/template/portfolio/simplecv/assets/reset.css">
<!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
<![endif]-->
<link rel="stylesheet" media="screen and (max-width:480px)" href="/template/portfolio/simplecv/assets/mobile.css">
<link rel="stylesheet" media="screen and (min-width:481px)" href="/template/portfolio/simplecv/assets/cv.css">
<link rel="stylesheet" media="print" href="/template/portfolio/simplecv/assets/print.css">
</head>

<body>

	<!-- Header --> 
	<header role="banner">
		<div class="container_16">
				<hgroup>
					<h1>Sheldon COOPER</h1>
					<h2>Physicien surdoué - Geek qualifié</h2>
				</hgroup>

				<figure>
					<img src="/template/portfolio/simplecv/assets/avatar.jpg" alt="Sheldon COOPER">
				</figure>
		</div>
	</header>
	
	<!-- Contact -->
	<section class="contactform clearfix">
		<div class="container_16">
			<h3>Contactez-moi</h3>
			<p>Remplissez le formulaire ci-dessous afin de m'envoyer un message. Je vous répondrais dans les plus bref délai. 
			<br><em>Tous les champs sont requis.</em></p>
			<form novalidate="novalidate" method="post" action="#" name="contact" class="grid_16">
				<p class="grid_10"><textarea name="message" placeholder="Votre message" class="required"></textarea></p>
				<p class="grid_6">
					<input name="nom" placeholder="Nom - Prénom" class="required" type="text">
					<input name="email" placeholder="Adresse email" class="required" type="email">	
					<input name="envoi" value="Envoyer le message" class="required" type="submit">
					<span class="messageform"></span>
				</p>
			</form>
		</div>
	</section>
	
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<h3>A propos</h3>
				<p>Cette section vous sert de présentation.</p>
				<p>Pellentesque nec nisi at sapien sagittis sagittis. Aliquam eu 
condimentum mauris. Proin accumsan enim at risus hendrerit lobortis. 
Nunc sollicitudin sodales lectus, et rhoncus mi molestie hendrerit. 
Vestibulum velit lorem, rhoncus a congue ultricies, faucibus facilisis 
risus. Mauris turpis ante, aliquet ac venenatis at, ornare ut velit. 
Duis ut erat neque, eget consectetur tellus. </p>
			</div>
			
			<!-- Compétences -->
			<div class="grid_8 competences">
				<h3>Compétences</h3>
				<ul class="barres">
					<li data-skills="80">Compétences 1<span style="width: 80%;"></span></li>
					<li data-skills="60">Compétences 2<span style="width: 60%;"></span></li>
					<li data-skills="75">Compétences 3<span style="width: 75%;"></span></li>
					<li data-skills="40">Compétences 4<span style="width: 40%;"></span></li>
					<li data-skills="95">Compétences 5<span style="width: 95%;"></span></li>
				</ul>
			</div>
		</div>
		
			<!-- Expériences -->
			<div class="grid_16 experiences">
				<h3>Expériences</h3>
				<ul>
					<li>
						<h4><strong>Nom du poste</strong> chez nom de l'employeur</h4>
						<span class="lieu">Lieu</span>
						<span class="dates">Dates</span>
						<p>Une petite description du poste, décrivez votre rôle et vos 
tâches en quelques mots afin que le recruteur en sache plus sur la 
nature de votre travail.</p>
					</li>
					<li>
						<h4><strong>Nom du poste</strong> chez nom de l'employeur</h4>
						<span class="lieu">Lieu</span>
						<span class="dates">Dates</span>
						<p>Une petite description du poste, décrivez votre rôle et vos 
tâches en quelques mots afin que le recruteur en sache plus sur la 
nature de votre travail.</p>
					</li>
				</ul>
			</div>
		
			<!-- Formations -->
			<div class="grid_16 formations">
				<h3>Formations</h3>
				<ul>
					<li>
						<h4><strong>Nom de la formation / diplôme</strong> à nom de l'école</h4>
						<span class="lieu">Lieu</span>
						<span class="dates">Période</span>
						<p>Clarifiez la formation (les abréviations ne sont pas connues de tout le monde).</p>
					</li>
					<li>
						<h4><strong>Nom de la formation / diplôme</strong> à nom de l'école</h4>
						<span class="lieu">Lieu</span>
						<span class="dates">Période</span>
						<p>Clarifiez la formation (les abréviations ne sont pas connues de tout le monde).</p>
					</li>
				</ul>
			</div>
		
			<!-- Loisirs -->
			<div class="grid_8 loisirs">
				<h3>Loisirs</h3>
				<p><strong>Sports :</strong> si vous en pratiquez</p>
				<p><strong>Association :</strong> si vous êtes membre d'une association</p>
				<p>D'autres loisirs plus vagues, complétez ici.</p>
			</div>
		
			<!-- Contact -->
			<div class="grid_8 contact">
				<h3>Contact</h3>
				<p>Si mon profil vous intéresse, n'hésitez pas à me contacter :</p>
				<ul>
					<li class="lieu">Paris, France</li>
					<li class="phone">06 00 00 00 00</li>
					<li class="mail"><a href="mailto:mon.adresse@email.fr">mon.adresse@email.fr</a></li>
					<li class="site"><a href="http://www.mon-site.fr/">www.mon-site.fr</a></li>
					<li class="form"><a class="toContactform">via le formulaire de contact</a></li>
                    <li class="form"><a class="toContactform">via le formulaire de contact</a></li>
				</ul>
			</div>
	</section>

<!-- Scripts JavaScript -->
<script src="/template/portfolio/simplecv/assets/jquery-1.js"></script>
<script src="/template/portfolio/simplecv/assets/validate.js"></script>
<!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
<script src="/template/portfolio/simplecv/assets/plugins.js"></script>

</body></html>